*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-image: url(/image/A3-1920.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* 
color scheme:
#78BE20 - green
#FFFFFF - white
#000000 - black
#418FDE - blue
#FA4616 - orange
#008C95 - teal
*/
 
nav{
    background-color: rgb(255, 255, 255);
    padding: 10px;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    }

nav img{
    margin: 0 15px;
}

nav ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    margin: 0 10px;
    padding: 0;
    justify-content: space-around;
}

nav ul li{
    display: flex;
    flex-grow: 1;
}

nav ul li a{
    display: flex;
    flex-grow: 1;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 8px 12px;
    border-radius: 4px;
    transition: all 0.2s ease;
}

nav ul li a:hover{
    background-color: #78BE20;
    color: white;
}

h1{
    text-align: right;
    color: white;
    text-transform: uppercase;
    margin: 0 30px;
    font-size: 5vh;
}

main{
    margin: 45px 20px;
}

article{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}

article img{
    filter: grayscale(100%);
    width: 125px;
    height: auto;
    margin: 10px;
    transition: all 0.2s ease;
}

article img:hover{
    filter: none;
    transform: scale(1.1);
}

button{
    margin:10px;
    background-color: #78BE20;
    color: white;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    transition: all 0.2s ease;
    position: relative;
    left:50%;
    transform: translateX(-50%);
}

button:hover{
    background-color: white;
    color: #78BE20;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.802)
}

@media screen and (max-width:1024px) {

    nav{
        flex-direction: column;
        align-items: center;
        position:static;
    }

    nav ul{
        flex-direction: column;
        width: 100%;
        font-size: 3vw;
        margin: 10px;
    }

    header{
        margin: 50px;
        margin-top: 60px;   
        padding: 30px;
    }

    button{
        width: 80%;
        font-size: 3vw;
    };
}